#header {
    padding-top: 0;
}
.navbar-inverse {
    border-color: #145ccd;
}
.navbar {
    position: relative;
    min-height: 40px;
    margin-bottom: 20px;
    border-radius: 0;
    border: none;
}
.icon-logo {
    font-size: 1.8rem;
}

#heading {
    padding-bottom: 20px;
}
#heading h1{
    margin-bottom: 20px;
}